body{
    background-color: #222;
    margin: 0;
}

header{
    padding: 13px 0 13px 0;
    background-color: orange;
}

h1{
    text-align: center;
    color: #222;
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width:100%;
    background-color: #aaa;
}

.container .score-log{
    background-color: orangered;
    width:19%;
}

.container .score-log p{
    text-align: center;
}

.container .score-log h3{
    text-align: center;
    margin: 34px 13px;
}

.game-board{
    background-color: #ccc;
    width:62%;
    height:610px;
    margin: 0;
}
