body{
    background-color: #222;
    margin: 0;
    font-family: 'Hubballi', cursive;
    color: rgb(255,245,160);
}

header{
    padding: 13px 0 13px 0;
    background-color: rgb(255,245,160);
}

h1{
    
    text-align: center;
    color: #222;
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width:100%;
    background-color: #aaa;
}

.container .score-log{
    background-color: #222;
    width:19%;
}

.container .score-log p{
    text-align: center;
}

.container .score-log h3{
    text-align: center;
    margin: 34px 13px;
}

.game-board{
    background: rgb(15,25,63); 
    width:62%;
    height:610px;
    aspect-ratio: 1 / 1;
    margin: 0;
}


.instructions{
    width: 19%;
    background-color: #222;
    text-align: center;
}

.instructions h3{
    margin: 34px 13px;
}
.instructions p{
    margin: 34px 13px;
    line-height: 21px;
}


/* Game Board */

.game-board{
    display: grid;
    grid-template-columns: repeat(13,1fr);
    grid-template-rows: repeat(13,1fr);
    justify-items: stretch;
    
 
}

/* Aroow  */

.game-board .obstacle{
    position:relative;
    width:62.8%;
    height:62.8%;
    border-radius: 3px;
}



.game-board #arrow{
    position: relative;
    border: 3px solid #fff;
    background-color: rgb(0,10,15);
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom: 8px solid orange;
    width:25%;
    height:39%;
    justify-self: center;
}

.game-board > div{
    mask-image: url('https://static.vecteezy.com/system/resources/previews/000/296/906/original/vector-night-sky-with-moon.jpg');
    mask-repeat: no-repeat;
}

.instructions .modes{
    display: inline-block;
}

#current-score{
    color:rgb(255,245,160);
}


.obs-1{
    background-color: rgb(160,245,255);

}

.obs-2{
    background-color: rgb(91,150,255);

}

.obs-3{
    background-color: rgb(101,220,245);
}

.instructions .modes h3{
    margin: 21px;
}

.instructions .modes button{
    background-color: rgb(255,101,15);
    border:0;
    padding: 5px;
    letter-spacing: 1px;;
}

.instructions .modes button:hover{
    background-color: rgb(255,160,15);
    
}

.score-log .game-messages{
    margin-bottom:55px;
}

.instructions .controls{
    margin-top:21px;
}

.instructions .controls #restart{
    background-color: rgb(63,160,255);
    border:0;
    padding: 5px;
    letter-spacing: 1px;;
}
.instructions .controls #restart:hover{
    background-color: rgb(63,101,255);
}

.score-log .game-messages #msg{
    font-size: 21px;
}

#game-board-level-change{
    animation: gblc 0.62s;
}

#game-board-start{
    animation: gbs 1.62s;
}

@keyframes gblc {
    0%   {background-color: rgb(255,101,15);}
  25%  {background-color: #fff;}
  50%  {background-color: rgb(63,160,255);}
  100% {background-color: rgb(15,25,63);}
}
@keyframes gbs {
    0% {background-color: rgb(15,25,63);}
    25%   {background-color: rgb(0,10,15);}
    50%  {background-color: rgb(63,160,255);}
    100% {background-color: rgb(15,25,63);}
}